fastapi
uvicorn[standard]
jinja2
python-multipart
pydantic
authlib
python-jose[cryptography]
passlib[bcrypt]
prometheus-client
psycopg[binary,pool]
alembic
sqlalchemy[asyncio]
asyncpg
httpx
opentelemetry-sdk
opentelemetry-api
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp-proto-http